<base href="/">

<div class="main-wrapper">

  <admin-navbar></admin-navbar>
  <!-- partial -->

  <div class="page-wrapper">

    <!-- partial:partials/_navbar.html -->
    <admin-navbar-top></admin-navbar-top>
    <!-- partial -->

    <div class="page-content">

      <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
        <div>
          <h4 class="mb-3 mb-md-0">Bienvenido al panel de administrador</h4>
        </div>
      </div>

    </div>

    <!-- partial:partials/_footer.html -->
    <footer-admin></footer-admin>
    <!-- partial -->

  </div>
</div>
